</div>
<footer>

    <div id="creditos">
        <p>Todos los derechos reservados</p>
        <span>Joseandres Montesino </span><br>
        <span>SENATI - Ingeniería de Software con Inteligencia Artificial</span>
      </div>
    
      <div id="redes-sociales">
        <p>Visita mis redes sociales</p>
        <a href="https://www.facebook.com/Joseandres.Montesino" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/in/jos%C3%A9andres-montesino-2a00161a6" target="_blank">LinKedIn</a>
        <a href="https://twitter.com/JoseandreMonte?t=hz05K93PbDRc3aSYXCNnKg&s=09" target="_blank">Twitter</a>
        

      </div>
</footer>
<style>
footer{
  background-color: rgb(58, 57, 57);
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}


#redes-sociales{
  margin-top: 1em;
  font-size: 13px;
  color: #7e7e85;
}

#redes-sociales > a{
  text-decoration: none;
  color: #7e7e85;
}

/*
hover     : sobre
Â¿que es?  : pseudoclase
funcionamiento: define los atributos en el estado "sobre"
*/

#redes-sociales > a:hover{
  color: rgb(25, 255, 255);
  font-size: 16px;
}

</style>
</body>
</html>